.container-skill{
    width: 50%;
    margin: 0 auto;
    height: 100vh;
    background-color: #ecf1f8;
}
.container-skill .skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}