nav{
    background-color: #5d2e8c;
    width: 250px;
    height: 100%;
    padding-left: 20px;
    border-top-right-radius: 80px;
}
.eu{
    width: 70px;
    margin-left: -50px;
    padding: 40px 0;
    cursor: pointer;
}
img{
    width: 50px;
}
nav .links{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px;
    padding-left: 30px;
    -webkit-tap-highlight-color: transparent;
}
nav .links:hover{
    font-weight: 500;
    color: black;
    background: #ecf1f8;
    outline: none;
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: .0.1s all ease-in-out;
}
nav .links img{
    margin-right: 5px;
}
nav .links:hover::after{
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #ecf1f8;
}
nav .links:hover::before{
    content: "";
    position: absolute;
    background-color: transparent;
    top: 74px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 #ecf1f8;
}
.container-links .links{
    display: flex;
    align-items: center;
}
.social{
    width: 90%;
    min-height: 420px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 25px;
    font-size: 25px;
    margin-bottom: 20px;
}
.fa-github{
    color: #B9BBBD;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    transition: .4s ease-in-out;
}
.fa-linkedin{
    color: #0A66C2;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    transition: .4s ease-in-out;
}
.fa-square-instagram{
    color: #C61060;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    transition: .4s ease-in-out;
}
.fa-github:hover{
    transform: translateY(5px);
}
.fa-linkedin:hover{
    transform: translateY(5px);
}
.fa-square-instagram:hover{
    transform: translateY(5px);
}

.img-arrow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.img-arrow .arrow{
    font-size: 25px;
    color: rgb(4, 185, 209);
}